/* Importar la fuente 'Work Sans' desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Importar la fuente 'Source Serif 4' desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

/* ========== VARIABLES ========== */
:root {
  /* Colores */
  --background-color: #181a2a;
  --color-text: #ffffff;
  --text-focus: #4b6bfb;
  --text-secundario: #97989f;

  /* Tipografia  */

  --fuente-principal: "Work Sans", serif;
  --fuente-secundaria: "Source Sans 3", serif;
}

/* ========== ESTILOS GENERALES ========== */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--fuente-principal);
  background-color: var(--background-color);
  color: var(--color-text);
  height: 100vh;
}

/* ----- INDEX ----- */

/* IR A INICIO */

.backtrack {
  background-color: #2e3441;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
  margin: 10px;
  margin-left: 0px;
}

.backtrack:hover {
  background-color: #516696;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* >>> NAVBAR <<< */

header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 80px;
  box-sizing: border-box;

  background-image: url("../assets/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center; /* Distribuye elementos en el header */

  padding: 0 150px; /* Ajusta según el diseño */
  z-index: 10000;
}

.navbar {
  text-align: center;
  width: 100%;
}

.navbar .logo {
  box-sizing: border-box;
  color: var(--color-text);
  font-weight: 700;
  font-size: 50px;
}

.logo span {
  color: var(--text-focus);
}

.trademark {
  font-size: 20px;
  position: relative;
  bottom: 15px;
  left: 3.5px;
}

/* >>> Responsive Adjustments <<< */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column; /* Stack links vertically */
    align-items: center;
    margin-top: 20px;
  }

  nav li {
    margin: 10px 0;
  }

  .logo {
    font-size: 2px;
  }

  .navbar .logo {
    font-size: 30px;
  }
}

/* >>> CUERPO (BODY / Index) <<< */

main {
  height: 100%;
}

.contenido {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 150px;
}

.articulo {
  background-color: rgb(74, 68, 68);
  padding: 15px;
  width: 300px;
  text-align: center;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Sombra ligera */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Borde semi-transparente */
}

.articulo p {
  color: var(--background-color);
}

.imagen-articulo {
  background-color: #999;
  color: white;
  padding: 60px 0;
  font-weight: bold;
  margin-bottom: 10px;
}

.post1-img {
  background-image: url("../assets/img/post1-html.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 20px;
}

.post2-img {
  background-image: url("../assets/img/post2-IA1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 20px;
}

.post3-img {
  background-image: url("../assets/img/post3_img1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 20px;
}

.title-post-thumbnail {
  font-weight: 900;
  letter-spacing: 5px;
}

.title-post-thumbnail:hover {
  color: var(--text-focus);
}

/* >>> PIE DE PÁGINA (FOOTER) <<< */

footer {
  color: var(--text-secundario);
  margin-top: 100px;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid rgba(138, 122, 138, 0.533);
}

.footer-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.footer-nav li {
  margin: 0 20px;
}

.footer-nav a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  font-size: 1 rem;
  padding: 8px 12px;

  transition: all 0.3s ease;
}

.footer-nav li a:hover {
  color: var(--text-focus);
}

.footer-nav .logo {
  box-sizing: border-box;
  color: var(--color-text);
  font-weight: 700;
  font-size: 20px;
}

.logo span {
  color: var(--text-focus);
}

/* ----- BLOG POSTS ----- */

.postBody {
  font-family: var(--fuente-principal);
  background-color: var(--background-color);
  color: var(--color-text);
  font-size: 1rem;
  padding-top: 50px;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.card {
  padding: 20px;
  margin-top: 20px;
}

.subject {
  background-color: var(--text-focus);
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}

.title {
  letter-spacing: 5.5px;
  line-height: 50px;
  font-size: 2rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin-top: -15px;
}

.headshot {
  height: 35px;
  border-radius: 50%;
}
.subtitle {
  color: var(--text-secundario);
  font-size: 1rem;
  font-weight: 300;
}

.postImg,
.postImg-2,
.post2Img1,
.post2Img2,
.post3Img1,
.post3Img2 {
  padding: 20px;
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.postImg {
  background-image: url("../assets/img/post1-html.webp");
}

.postImg-2 {
  background-image: url("../assets/img/html-css-1.webp");
}

.post2Img1 {
  background-image: url("../assets/img/post2-IA1.webp");
}

.post2Img2 {
  background-image: url("../assets/img/post2-IA2.webp");
}

.post3Img1 {
  background-image: url("../assets/img/post3_img1.webp");
}

.post3Img2 {
  background-image: url("../assets/img/post3_img2.webp");
}

.highlight {
  background-color: var(--text-focus);
  border-radius: 10px;
  padding: 5px;
}

.cardImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 125px;
  padding: 20px;
  border-radius: 20px;
}

.post1 {
  background-image: url("../assets/img/post1-html.webp");
}

.post2 {
  background-image: url("../assets/img/post2-IA1.webp");
}

.post3 {
  background-image: url("../assets/img/post3_img1.webp");
}

.card-text {
  letter-spacing: 1px;
  line-height: 2.2;
  text-align: justify;
}

.post-paragraph {
  font-family: var(--fuente-secundaria);
  font-size: 1.3rem;
  text-align: justify;
  line-height: 2.5rem;
  font-weight: 500;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
