* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Work Sans", serif;
    text-align: center;
    background-color: #181a2a;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

main {
    flex: 1;
}


footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.encabezado {
    background-color: #666;
    color: white;
    padding: 40px 20px;
    font-size: 24px;
    font-weight: bold;
}

.contenido {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.articulo {
    background-color: white;
    padding: 15px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagen-articulo {
    background-color: #999;
    color: white;
    padding: 60px 0;
    font-weight: bold;
    margin-bottom: 10px;
}

.pie-pagina {
    background-color: #666;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

/* NAVBAR */
.navbar {
    background-color: #333; /* Color de fondo */
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between; /* Espaciado entre logo y enlaces */
    align-items: center;
    position: fixed; /* Fija la barra en la parte superior */
    top: 0;
    width: 100%;
    z-index: 1000;
}
